{
  "presets": [
    ["react"], ["env"], ["flow"], ["@babel/preset-react"], ["@babel/preset-env"]
  ],
  "plugins": ["transform-object-rest-spread","syntax-dynamic-import","@babel/plugin-transform-react-jsx"]
}